In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Data loading
file_path = Path("../Resources/data.csv")
df = pd.read_csv(file_path)
df.head(10)

In [ ]:
df.dtypes

In [ ]:
# Converting DT_Customer to datetime object

df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], 
 format = '%Y-%m-%d', 
 errors = 'coerce')

In [ ]:
df.dtypes

In [ ]:
df['ShoppingDay_month'] = df['Dt_Customer'].dt.month
df['ShoppingDay_week'] = df['Dt_Customer'].dt.week
df['ShoppingDay_day'] = df['Dt_Customer'].dt.day
df['ShoppingDay_dayofweek'] = df['Dt_Customer'].dt.dayofweek

In [ ]:

# Cleaning new dataframe
df.pop('Dt_Customer')
df['Income'].astype(int)
df.pop('ID')
df.dtypes

In [ ]:
#Looking at new data to get an idea of habits
#df.groupby('ShoppingDay_month').size()
#df.groupby('ShoppingDay_day').size()
#df.groupby('ShoppingDay_dayofweek').size()

In [2]:
#Adding dummies for string columns
data = pd.get_dummies(df,columns = ['Education', 'Marital_Status'])
data.to_csv('../Resources/ml_data.csv', index=False)

NameError: name 'df' is not defined

In [3]:
customer_data = pd.read_csv('../Resources/ml_data.csv')

In [5]:
# Now lets create the X df as a copy of selected, copy the 
# "Survived" column as y, and drop the survived column from X
X = customer_data.copy()
y = customer_data["AcceptedCmp1"].copy()
X = X.drop("AcceptedCmp1", axis=1)

customer_data.head()

,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,...,Education_2n Cycle,Education_Basic,Education_Graduation,Education_Master,Education_PhD,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single,Marital_Status_Together,Marital_Status_Widow
0,1957,58138.0,0,0,58,635,88,546,172,88,...,0,0,1,0,0,0,0,1,0,0
1,1954,46344.0,1,1,38,11,1,6,2,1,...,0,0,1,0,0,0,0,1,0,0
2,1965,71613.0,0,0,26,426,49,127,111,21,...,0,0,1,0,0,0,0,0,1,0
3,1984,26646.0,1,0,26,11,4,20,10,3,...,0,0,1,0,0,0,0,0,1,0
4,1981,58293.0,1,0,94,173,43,118,46,27,...,0,0,0,0,1,0,1,0,0,0

In [6]:
# Time to train/test/split our data! 

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=13)

In [7]:
# A quick LogReg as our first model, fitting and
# scoring all at once. I had to use the "liblinear"
# solver on Kaggle (not on my local machine) because
# I was getting an error described here: https://stackoverflow.com/questions/65682019/attributeerror-str-object-has-no-attribute-decode-in-fitting-logistic-regre

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()

classifier.fit(X_train,y_train)
print("Test:", classifier.score(X_test, y_test))
print("Train:", classifier.score(X_train, y_train))

Test: 0.9368231046931408
Train: 0.9356197352587244

C:\Users\Xander\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)